$color-primary: #9a0680;
$color-secondry: #79018c;
$color-ternary: #4c0070;
$color-dark: #2c272e;

.main-page {
  height: 300vh;
  position: relative;
  display: flex;
  overflow: hidden;
  .site-body {
    position: relative;
    left: 15%;
    width: 85%;
  }
}
