$color-primary: #9a0680;
$color-secondry: #79018c;
$color-ternary: #4c0070;
$color-dark: #2c272e;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: poppins;
  color: azure;
  scroll-behavior: smooth;
}
::selection {
  color: azure;
  background: #6D67E4;
}

::-moz-selection {
  /* Code for Firefox */
  color: azure;
  background: #6D67E4;
}
::-webkit-scrollbar {
  width: 10px;
}
body {
  scrollbar-width: thin;
  scrollbar-color:#6D67E4;

  &::-webkit-scrollbar-track {
    background: #2c272e;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #6D67E4;
  }
}
